{% extends "learning_logs/base.html" %}

<!-- Carregando as tags do bootstrap. -->
{% load bootstrap3 %}

{% block header %} <h2>Add a new topic</h2> {% endblock header %}

{% block content %}

  <form action="{% url 'learning_logs:new_topic' %}" method="post" class="form">

    <!-- O Django usa a tag 'csrf_token' para evitar que invasores usem o
    formulálrio a fim de ter acesso não autorizado ao servidor -->
    {% csrf_token %}

    {% bootstrap_form form %}

    <!-- O Django não cria um botão de submissão para os formulários,
    portanto definimos um em seguida. -->
    {% buttons %}
      <button name="submit" class='brn btn-primary'>Add topic</button>
      {% endbuttons %}
  </form>
{% endblock content %}
