{% extends "learning_logs/base.html" %}
<!-- Colocado o assunto no bloco header -->
{% block header %}<h2>{{ topic }}</h2>{% endblock header %}

{% block content %}
  <p>
    <a href="{% url 'learning_logs:new_entry' topic.id %}">Add new entry</a>
  </p>
  <ul>

    <!-- Fazemos um for nas entradas para listar separadamente cada uma. -->
    {% for entry in entries %}
      <div class="panel panel-default">

        <!-- A div panel-heading contém a data da entrada e o link para
             editá-la. -->
        <div class="panel-heading">

          <!--  Exibimos o valor do atributo date_added. Nos templates
                do Django, uma linha vertical(|)representa um filtro de
                template - uma função que modifica o valor de uma linha
                variável de template. O filtro date:'M d, Y H:i' exibe
                timestamps no formato January 1, 2015 23:00. -->
          <h3>{{ entry.date_added|date:'M d, Y H:i' }}
            <small>
              <a
                href="{% url 'learning_logs:edit_entry' entry.id %}">Edit entry
              </a>
            </small>
          </h3>
        </div>

        <!-- Aqui temos a div panel-body, que contém o textp propriamente dito
             da entrada. -->
        <div class="panel-body"> {{entry.text|linebreaks }} </div>
      </div> <!-- panel -->
      {% empty %}
        There are no entries for this topic yet.
    {% endfor %}
  </ul>
{% endblock content %}
